*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
body{
    background-image: url(https://th.bing.com/th/id/R.8c68327825470aaeee71689f4851a23e?rik=Gbhr3eldjSoulw&riu=http%3a%2f%2fwww.newdesignfile.com%2fpostpic%2f2015%2f11%2fbrochure-design-background-blue_255620.jpg&ehk=ZB5G2gMYdaIY%2fEI%2bEBJxw%2fSDFnHA5sz0DWgVnVDKthM%3d&risl=&pid=ImgRaw&r=0);
    background-size: cover;
    background-position: center;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #3d81db;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

input[type="text"] {
    width: calc(100% - 70px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #92e886;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #14da14;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    margin-bottom: 5px;
}

li:hover {
    background-color: #d8dbdc;
}
